		<%= stylesheet_link_tag 'custom'%>
	
<style type="text/css">
        /*demo page css*/
			

#modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}
.modalContainer
{
    position: absolute;
    width: 760px;
    left: 40%;
    top: 40%;
    z-index: 750;
}
.modal
{

    background-color: #ffffff;
    border: solid 2px #0d457f; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 760px;
    height: 440px;
    *height: 340px;
    padding: 0px;
}
.modalTop
{
    width: 760px; 
    !width: 760px !important;
    background-color: #0d457f;
    padding: 2px;
    color: #4E6CA3;
    text-align: left;
}
.modalTop a, .modalTop a:visited
{
    color: #ccc;
}
.modalBody
{
    padding: 10px;
    height: 650px;
}



.subHeader {
	font-weight:bold;
	font-family:verdana;
	font-size:12px;
	color:#710101;
}

.details {
	font-weight:normal;
	font-family:verdana;
	font-size:12px;
	color:#710101;
}

    </style>

	<script type="text/javascript">

	function revealModal(divID)
{
    window.onscroll = function () { document.getElementById(divID).style.top = document.body.scrollTop; };
    document.getElementById(divID).style.display = "block";
    document.getElementById(divID).style.top = document.body.scrollTop;
    setTimeout("hideModal('" + divID + "')", 1000000);
}

function hideModal(divID)
{
    document.getElementById(divID).style.display = "none";
}

		$(document).ready( function()
		    {
			//	$("#formID").validationEngine()
		        $("#ResultsHolder").hide();
		     
		    }
		  );
		
		$(function(){
		//Tabs
		$("#tabs").tabs();
		$("#navi").tabs();
		//ACCORDIAN
		$("#accordion").accordion({ header: "h3" });
		
		// Datepicker
			$('#d1ob,#recv1er,#rec1exp,#lic1expdate,#pexpda1te1,#licex1pdate1,#dlnex1p').datepicker({
					inline: true
				});
		
		//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);

		});
		
		
		function ShowResults() {
		        $('#ResultsHolder').show();
				$('#ResultTable').dataTable();
			} 
		
		</script>


<p style="color: green"><%= flash[:notice] %></p>
    <% form_tag do %>
    <center>
		
<div class="depot-form">
	<fieldset style="width: 70%">		
    <legend><strong>Personal Information</strong></legend>
       
				
				<!------Begin Patient Personal Information--->
				<table width="100%" cellpadding="5px" border="0">
				
		            <tr>
					
						
		            
		                    <td align="right">First&nbsp;Name:
				            </td>
				            
				         <td align="left"><%= text_field_tag :firstname, params[:firstname]%></td>
				             <script type="text/javascript"> 
		            var firstname = new LiveValidation('firstname');
		            firstname.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				            <td align="right">Last&nbsp;Name:
				            </td>
				            
				            <td align="left"><%= text_field_tag :lastname, params[:lastname] %></td>
								<script type="text/javascript"> 
								var lastname = new LiveValidation('lastname');
							 lastname.add(Validate.Presence, 4e3,{failureMessage: "*"});
							</script> 
							<td align="right">Suffix:</td>
				             <td align="left">
							<%= select_tag "suffix", options_for_select([ "-", "Jr", "I", "II", "III", "IV"],params[:suffix])  %>
						</td> 
				            		<div id="tabs-2">
				            <td align="right">DOB:</td>
				            
                            <td align="left"><%= text_field_tag :dob, params[:dob] %> </td>
							<script type="text/javascript"> 
		            var dob = new LiveValidation('dob');
		            dob.add(Validate.Presence, 4e3,{failureMessage: "*"});
					dob.add( Validate.Format, {pattern: /(0[1-9]|1[012])[ /.](0[1-9]|[12][0-9]|3[01])[/.](19|20)\d\d/i, failureMessage: "MM/DD/YYYY" } );
		          </script>
                            </div>
				            <td align="right">Gender:</td>
				             <td align="left">
							<%= select_tag "sex", options_for_select([ "Male", "Female"],params[:sex])  %>
						</td> 
                            
				            
		            </tr>
		            <tr>
				            <td align="right">Referral&nbsp;Source:</td>
				            
				            <td style="width:123px" align="left">
							<%= select_tag "referral", options_for_select([ "Walk-In", "Friend", "Newspaper", "Magazine", "Newspaper", "Web", "Other", "WeedTracker.com", "Twitter", "RADIO", "DOCTOR'S OFFICE", "Google"],params[:referral])  %>
                                 </td>
                                 
                                 
                                 <td align="right">Referred&nbsp;By:                 
                                 </td>
                                 
                                 <td align="left" style="width:123px"><%= text_field_tag :reffredby, params[:reffredby] %>
                                 </td>
                                 	<script type="text/javascript"> 
		            var reffredby = new LiveValidation('reffredby');
		            reffredby.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
                                 <td align="right">Notes:
                                 </td>
                                 
                                 <td colspan="1" align="left"><%= text_field_tag :notes, params[:notes] %></td>
	<script type="text/javascript"> 
		            var notes = new LiveValidation('notes');
		            notes.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				            <td align="right">DLN:</td>
				            
				            <td  align="left"><%= text_field_tag :dln, params[:dln] %></td>
								<script type="text/javascript"> 
		            var dln = new LiveValidation('dln');
		            dln.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
                                 
		            </tr>
					  <tr>
				            <td align="right">DLN&nbsp;State:</td>
				            
				            <td style="width:123px" align="left">
							<%= text_field_tag :dlnstate, params[:dlnstate] %>
                                 </td>
								  <script type="text/javascript"> 
					var dlnstate = new LiveValidation('dlnstate');
		            dlnstate.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
                                   <td align="right">DLN&nbsp;Expiration:
                                 </td>
                                 
                                 <td colspan="1" align="left">
                                 	<%= text_field_tag :dlnexp, params[:dlnexp] %></td>
										<script type="text/javascript"> 
		            var dlnexp = new LiveValidation('dlnexp');
		            dlnexp.add(Validate.Presence, 4e3,{failureMessage: "*"});
					dlnexp.add( Validate.Format, {pattern: /(0[1-9]|1[012])[ /.](0[1-9]|[12][0-9]|3[01])[/.](19|20)\d\d/i, failureMessage: "MM/DD/YYYY" } );
		          </script>
				            <td>&nbsp;</td>
                                 
                                 <td>&nbsp;                
                                 </td>
                                 
                                 <td>&nbsp;
                                 </td>
                                 
                               
				            
				            <td  align="left">&nbsp;</td>
                                 
		            </tr>
		            <tr>
			            <td colspan="5">
			            
			                <fieldset ><legend ><strong >Address</strong></legend>
			                 
    				                <table cellpadding="1px" cellspacing="1px">
    				                    <tr>
    				                        <td align="right">Line&nbsp;1:</td>
    				                        <td align="left"><%= text_field_tag :line1, params[:line1] %></td>
												<script type="text/javascript"> 
		            var line1 = new LiveValidation('line1');
		            line1.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				    <td align="right">Line&nbsp;2:</td>
				                            <td align="left"><%= text_field_tag :line2, params[:line2] %></td>
    				                         <script type="text/javascript"> 
		            var line2 = new LiveValidation('line2');
		            line2.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
    				                    </tr>
				                        <tr>
				                          
											 <td align="right">County:</td>
    				                        <td align="left"><%= text_field_tag :county, params[:county] %></td>
											<script type="text/javascript"> 
		            var county = new LiveValidation('county');
		            county.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
											<td align="right">City:</td>
    				                         <td align="left"><%= text_field_tag :city, params[:city] %></td>
				                             <script type="text/javascript"> 
		            var city = new LiveValidation('city');
		            city.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				                        </tr>
				                        
    				                    <tr>
    				                    	 <td align="right">State:</td>
    				                         <td align="left"><%= text_field_tag :state, params[:state] %></td>
											 <script type="text/javascript"> 
		            var state = new LiveValidation('state');
		            state.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
    				                      <td align="right">Zipcode:</td>
    				                         <td align="left"><%= text_field_tag :zip, params[:zip] %></td>
											 <script type="text/javascript"> 
		            var zip = new LiveValidation('zip');
		            zip.add(Validate.Presence, 4e3,{failureMessage: "*"});
					zip.add( Validate.Length, { is: 5 } );
		          </script>
    				                       
				                        </tr>
    				                     <tr>
    				                         <td></td>
    				                         <td></td>
    				                         <td></td>
    				                         <td></td>
				                         </tr>
                				       
    				                </table>
				                </fieldset>
				            </td>
			            <td colspan="5">
		              <fieldset><legend><strong>Contact</strong></legend> 
    				                <table cellpadding="1px" cellspacing="1px" border="0">
    				                    <tr>
    				                            <td align="right">Home&nbsp;Phone:</td>
    				                            <td align="left"><%= text_field_tag :hphone, params[:hphone] %></td>
												<script type="text/javascript"> 
		            var hphone = new LiveValidation('hphone');
		            hphone.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
    				                            <td align="right">Mobile:</td>
				                                <td align="left"><%= text_field_tag :mphone, params[:mphone] %></td>
												<script type="text/javascript"> 
		            var mphone = new LiveValidation('mphone');
		            mphone.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
                                        </tr>
                                        
    				                    <tr>
    				                            <td align="right">Email:</td>
    				                            <td align="left"><%= text_field_tag :cemail, params[:cemail] %></td>
												 <script type="text/javascript"> 
												var cemail = new LiveValidation('cemail');
												 cemail.add(Validate.Presence, 4e3,{failureMessage: "*"});
												cemail.add(Validate.Email);
												 </script>
				                                <td align="right">Provider:</td>
				                                <td  align="left">
						<%= select_tag "provider", options_for_select([ "Alltel", "AT&T", "Nextel", "Sprint", "TMobile", "Verizon", "Metro PCS", "Boost Mobile", "Virgin Mobile"],params[:provider])  %>
						
                                                </td>

			                            </tr>
			                            
    				                    <tr>
    				                    </tr>
    				                    
    				                    <tr>
    				                            <td align="right">Notification:</td>
    				                                <td colspan="5" align="left"> 
													<%if params[:email] == "yes"%>
													<%=check_box_tag 'email', 'yes' 'no', true%> E-mail
											<%else%>
												<%=check_box_tag 'email', 'yes' 'no'%> E-mail
			        			        <%end%>
											<%if params[:sms] == "yes"%>
													<%=check_box_tag 'sms', 'yes'  'no', true%> SMS
											<%else%>
													<%=check_box_tag 'sms', 'yes'  'no'%> SMS
			        			        <%end%>
											<%if params[:mail] == "yes"%>
													<%=check_box_tag 'mail', 'yes'  'no', true%> Mail
											<%else%>
													<%=check_box_tag 'mail', 'yes'  'no'%> Mail
			        			        <%end%>
											<%if params[:phone] == "yes"%>
													<%=check_box_tag 'phone', 'yes'  'no', true%> Phone
											<%else%>
													<%=check_box_tag 'phone', 'yes'  'no'%> Phone
			        			        <%end%>
                         </td>
                                        </tr>
    				                        
	                    </table>
		                </fieldset>
		            </td>
	            </tr>
				<tr>
				<td colspan="9">

            			<fieldset>
    <legend><strong>State/County&nbsp;Registration&nbsp;Information</strong></legend>
        
             <table>
				            <tr>
							<td align="right">County&nbsp;Number:</td>
				            <td align="left"><%= text_field_tag :countyid, params[:countyid] %></td>
							<script type="text/javascript"> 
		            var countyid = new LiveValidation('countyid');
		            countyid.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				            <td align="right">State&nbsp;MMP:</td>
				            <td align="left"><%= text_field_tag :statemmp, params[:statemmp] %></td>
							<script type="text/javascript"> 
		            var statemmp = new LiveValidation('statemmp');
		            statemmp.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				            <td align="right">Recommendation:</td>
				            <td align="left"><%= text_field_tag :recom, params[:recom] %></td>
							<script type="text/javascript"> 
		            var recom = new LiveValidation('recom');
		            recom.add(Validate.Presence, 4e3,{failureMessage: "*"});
		          </script>
				            
				            </tr>
				            </table>
		
</fieldset>	
						</td>
						</tr>
            				
            </table>
			
						
			
									


				
		
		
</fieldset>
			</div>
			</center>
 <br />
 <center>
</center>
<br />
<center>

 <%= submit_tag "Update Member Information" %>
			
				            
				            
<br><br>
   
  
</div>

</center>
<%end%>
 


	
