		<%= stylesheet_link_tag 'custom'%>

<p style="color: green"><%= flash[:changepwd] %></p>

<div class="mainpage">
<div class="depot-form">
<br><br><br><br><br>
<center>
  <fieldset style="width: 70%">
    <legend><b>Please select store options</b></legend>
    <br>
       <table border="0" cellspacing="0" cellpadding="0" align="center" width="70%">
       	<tr>
       	<td>  
<%= link_to "#{image_tag("add_product.png", :width=>180)}", {:action => 'product', :controller => 'pages'} %>       	
       	</td>
       	<td>&nbsp;</td>
       	<td><%= link_to "#{image_tag("add_physician.png", :width=>180)}", {:action => 'physician', :controller => 'pages'} %>       </td>
       	<td>
       	&nbsp;</td>
       	<td>  
<%= link_to "#{image_tag("Search_menu.png", :width=>180)}", {:action => 'search', :controller => 'pages'} %>       	
</td>
       	</tr>
				<tr rowspan="2"><td colspan="3">&nbsp;</td></tr>
       	<tr>

				
       	<tr>
       	<td><%= link_to "#{image_tag("sales.png", :width=>180)}", {:action => 'sales', :controller => 'pages'} %>   </td>
       	<td>&nbsp</td>
				<td><%= link_to "#{image_tag("Members-01.png", :width=>180)}", {:action => 'customer', :controller => 'pages'} %>       	</td>
       	<td>  &nbsp;</td>      	
       	<td>  
<%= link_to "#{image_tag("Reports_menu.png", :width=>180)}", {:action => 'reports', :controller => 'pages'} %>      
</td>

       	</tr>
				<tr rowspan="2"><td colspan="3">&nbsp;</td></tr>


       	<td>  
<%= link_to "#{image_tag("logout.png", :width=>180)}", {:action => 'logout', :controller => 'admin'} %>      
</td>
       	<td>&nbsp;</td><td></td><td></td>
     <td><%= link_to "#{image_tag("store_admin.png", :width=>180)}", {:action => 'admin_main', :controller => 'admin'} if @userType == "S" %>      </td>
       	</tr>
       </table>
<br>
</fieldset>
</center>
</div>
</div>
