<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 <!--test-->
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
		<%= stylesheet_link_tag 'blueprint/demo_page' %>
		<%= stylesheet_link_tag 'blueprint/demo_table'%>
		<%= stylesheet_link_tag 'blueprint/Main'%>
		<%= stylesheet_link_tag 'style'%>
		<%= stylesheet_link_tag 'blueprint/jquery-ui-1.7.2.custom.css'%>
		<%= javascript_include_tag 'jquery' %>
		<%= javascript_include_tag 'interface' %>
		<%= javascript_include_tag 'interface' %>
		<%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
		<%= javascript_include_tag 'jquery.dataTables' %>
		<%= javascript_include_tag 'livevalidation_standalone' %>

    <title>Sample Application</title>
  </head>

  <body>
		
		<div  id ="header" align="left"style="background-image:url('/images/bg_head_middle.jpg')"> 
<div style="float: left;padding-top:10px">
				<strong><font color="white">PAMA Point of Sale - Store # <%= session[:store_name] %></font></strong>
				
			</div>
<div style="float: right;padding-top:10px">
<%= link_to "#{image_tag("small_logout.png", :width=>70)}", {:action => 'logout', :controller => 'admin'} %>  
</div>
<br><br>
			
			
		<%= link_to "#{image_tag("Search-01.png", :border=>0)}<span></span>", {:action => 'search', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("Patient-01.png", {:border=>0,:height=>100,:width=>100})}<span></span>", {:action => 'customer', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("Physician-01.png", :border=>0)}<span></span>", {:action => 'physician', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("Rx-01.png", :border=>0)}<span></span>", {:action => 'customer', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("Sales-01.png", :border=>0)}<span></span>", {:action => 'sales', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("reports.png", :border=>0)}<span></span>", {:action => 'reports', :controller => 'pages'}%></a>
<%= link_to "#{image_tag("Product2-01-01.png", {:border=>0,:height=>100,:width=>100})}<span></span>", {:action => 'product', :controller => 'pages'}%></a>
<div style="float: right"><%= link_to "#{image_tag("Exit-01.png", :height=>100)}", {:action => 'mainpage', :controller => 'pages'} %>  </div>


		</div>

	  <div id="content" class="round">
	    <%= yield %>
	  </div>
	</div>

<script type="text/javascript">
	
	$(document).ready(
		function()
		{
		$("#ResultsHolder").hide();
			$('#dock').Fisheye(
				{
					maxWidth: 20,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 50,
					proximity: 90,
					halign : 'center'
				}
			)
		}
	);

</script>
	
  </body>
</html>

